/* LOGO */

.main_logo {
  height: 50px;
  margin-left: 1rem;
}

.logo-container {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  align-items: center;
  /* position: static; */
}

.logo-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-top: 3px;
  font-size: 1rem;
  color: #fff;
}

/* NAVIGATION */

.navigation {
  position:  fixed;
  height: 5vh;
  width: 97.3%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.196);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(5.5px);
  /* border-radius: 10px; */
  transition: all ease 1s;
  animation: nav_animation 1s forwards;
  z-index: 999;
}

.nav_links-container {
  position: relative;
  margin-top: 5px;
}

.nav-link {
  padding: 8px 30px;
  font-weight: 500;
  margin: 0 1.2rem;
  border-radius: 3px;
  font-size: 0.7rem;
  display: inline-block;
}

.nav-link:hover {

  background-color: #ff3e3e;
  color: #fff;
}

.nav-link:last-child:hover {
  background-color: #0e43f8;
}
.nav-link:active{
  background-color: #ff3e3e;
  color: #fff;
}

/* 
.nav-link::before {
    content: "";
    height: 100%;
    width: 100%;

} */

@keyframes nav_animation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  } 100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(80px);
  } 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


