
.about_section_intro {
    position: absolute;

    /* margin-top: 300px; */
    top: 30%;
    width: 99.9%;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 10px; */
    /* padding: 0 20px; */
}

.sec_intro {
    color: #fff;
    width: 500px;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 30px 40px;
    -webkit-box-shadow: 8px 8px 0px -1px rgb(0, 0, 0);
  -moz-box-shadow: 8px 8px 0px -1px rgba(0, 0, 0, 0.9);
  box-shadow: 8px 8px 0px 0px rgb(0, 0, 0);
}

.sec_intro:hover {
    transform: translate(-8px, -8px);
  box-shadow: 12px 12px 0px 0px rgb(0, 0, 0);
}

.sec_intro1 {
    background-color: #0e43f8;
    height: 100%;
    padding: 40px 40px;
    font-size: 1rem;
    
}

.sec_intro2 p {
    color: #000;
}

.sec_intro2 {
    background-color: #f8ef0e;
    
}











