
.about_section {
    position: relative;
    height: 100%;

}

.about_section_header {
  /* background-image: url("../../assets/wave.png"); */
  /* width: 100%; */
  /* background-size: cover; */
  /* height: 50%; */
  /* position: absolute; */
  /* width: 100%; */
  animation: nav_animation 1s forwards;
  display: flex;
  /* justify-content: center; */
  margin-left: 60px;
  align-items: center;
  /* margin-bottom: 50px; */
}

.header h1 {
  /* margin-bottom: 70px; */
  z-index: 999;
  background-color: #ff3e3e;
  border: 1px solid #000;
  /* text-shadow: 2px 2px #000; */
  /* margin-left: 400px; */
  text-transform: uppercase;
  font-size: 60px;
  /* font-family: 'Rubik Dirt', cursive; */
  /* position: relative; */
  /* background-color: #fff; */
  /* padding: 10px 60px; */
  border-radius: 10px;
  margin-top: 120px;
  color: #fff;
  padding: 10px 100px;
  margin-left: 200px;
  /* font-family: 'Orbitron', sans-serif; */
  font-family: "Gruppo", sans-serif;
  font-weight: 900;
  /* font-family: 'Yatra One', cursive;  */
   -webkit-box-shadow: -5px -5px 0px -1px rgb(0, 0, 0);
  -moz-box-shadow: -5px -5px 0px -1px rgba(0, 0, 0, 0.9);
  box-shadow: -5px -5px 0px 0px rgb(0, 0, 0);
    /* animation: fadeIn .8s ease; */
}

.abt_sec_container {
    position: relative;
    /* margin-top: 150px; */
}
